<p>
  <strong>Enroll:</strong>
  <%= @register.enroll %>
</p>

<p>
  <strong>Course:</strong>
  <%= @register.course %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
